Repository yesllyes/yesllyes, pull requests merged in 2022-12, with the labels that each got.

#4 Init: 라우터 초기 설정
  .gitmessage.txt
  package-lock.json
  package.json
  src/App.js
  src/App.jsx
  src/pages/Error/ErrorPage.jsx
  src/pages/Home/HomePage.jsx
  src/pages/Login/LoginPage.jsx
  src/pages/Profile/ProfilePage.jsx
  src/pages/Signup/SignupPage.jsx
Labels: feature

#5 Init/기본설정
  src/App.jsx
  src/components/button/Button.jsx
  src/routes/Router.jsx
  src/styles/GlobalStyle.jsx
  src/styles/Theme.js
Labels: chore

#11 Style/navbar 구현
  .eslintrc.json
  src/App.jsx
  src/components/navbar/Styled.jsx
  src/components/navbar/Top-basic-nav.jsx
  src/components/navbar/Top-navbar.jsx
  src/components/navbar/TopNavBarRender.jsx
  src/pages/Home/HomePage.jsx
  src/styles/GlobalStyle.jsx
Labels: feat, style

#12 style: 공통 컴포넌트 UserInfo, TextInput 구현
  src/components/TextInput/Styled.jsx
  src/components/TextInput/TextInput.jsx
  src/components/UserInfo/Styled.jsx
  src/components/UserInfo/UserInfo.jsx
Labels: style

#14 Feature/TextPost TextPost컴포넌트 스타일 기능구현
  src/components/TextPost/TextPost.jsx
  src/components/TextPost/styled.jsx
  src/components/User/UserInfo.jsx
  src/components/User/styled.jsx
  src/components/UserPost/UserPost.jsx
  src/components/UserPost/styled.jsx
  src/styles/Theme.js
Labels: feat, style

#16 Feature/button
  src/components/UserPost/styled.jsx
  src/components/button/Button.jsx
  src/components/button/styled.jsx
Labels: feat, style

#20 Fix/Button Button 컴포넌트 수정
  src/components/button/Button.jsx
  src/components/button/styled.jsx
  src/styles/Theme.js
Labels: fix

#24 Feat/homefeed
  src/pages/FeedPage/FeedPage.jsx
  src/pages/FeedPage/Styled.jsx
  src/pages/Search/Search.jsx
  src/pages/Search/Styled.jsx
  src/routes/Router.jsx
Labels: feat, style

#27 style: Splash Screen 구현
  src/components/splash/Splash.jsx
  src/components/splash/Styled.jsx
Labels: style

#29 Feat: ProfileSignupPage 페이지 구현
  .eslintrc.json
  src/components/TextInput/Styled.jsx
  src/components/TextInput/TextInput.jsx
  src/components/Wrapper/StyledWrapper.jsx
  src/components/button/Button.jsx
  src/pages/Profile/ProfilePage.jsx
  src/pages/ProfileSignup/ProfileSignupPage.jsx
  src/pages/ProfileSignup/styled.jsx
  src/routes/Router.jsx
Labels: feat, style, chore

#30 feat: Splash 기능 구현 #21
  src/index.js
  src/pages/IntroLogin/IntroLoginPage.jsx
  src/pages/Splash/StartSplash.jsx
  src/routes/Router.jsx
Labels: feat

#31 rename: style파일명 수정 및 SignupPage 테스트로직 추가
  src/components/TextInput/TextInput.jsx
  src/components/UserInfo/UserInfo.jsx
  src/components/navbar/Top-navbar.jsx
  src/components/tabMenu/TabMenu.jsx
  src/pages/HomeFeed/HomeFeedPage.jsx
  src/pages/IntroLogin/IntroLoginPage.jsx
  src/pages/Login/LoginPage.jsx
  src/pages/ProfileSignup/ProfileSignupPage.jsx
  src/pages/Search/SearchPage.jsx
  src/pages/Signup/SignupPage.jsx
  src/pages/Signup/Styled.jsx
  src/pages/Splash/SplashPage.jsx
  src/routes/Router.jsx
Labels: rename/remove

#33 style: 공통컴포넌트 props, style 수정 및 page props 변경
  src/components/Button/styled.jsx
  src/components/TextInput/TextInput.jsx
  src/components/TextInput/styled.jsx
  src/components/button/styled.jsx
  src/pages/Login/LoginPage.jsx
  src/pages/Login/styled.jsx
  src/pages/ProfileSignup/ProfileSignupPage.jsx
  src/pages/Signup/SignupPage.jsx
  src/routes/Router.jsx
Labels: refactor, style

#35 style : Product 컴포넌트와 Participation 페이지, 라우팅 작업
  src/assets/image/홍보1.png
  src/assets/image/홍보2.png
  src/assets/image/홍보3.png
  src/components/Product/Product.jsx
  src/components/Product/styled.jsx
  src/pages/ParticipationList/ParticipationList.jsx
  src/pages/ParticipationList/styled.jsx
  src/routes/Router.jsx
Labels: style

#38 style : myprofile 상단 부분 스타일링 및 ProfileList 라우팅 병합
  src/components/MyProfile/ProfileInfo.jsx
  src/components/MyProfile/ProfileList.jsx
  src/components/MyProfile/styled.jsx
  src/pages/ParticipationList/styled.jsx
  src/pages/Profile/MainProfile.jsx
  src/pages/Profile/styled.jsx
  src/routes/Router.jsx
Labels: style

#42 Feature/MyProfilePage 컴포넌트 구현 및 스타일링
  src/components/MyProfile/PostList.jsx
  src/components/MyProfile/ProfileInfo.jsx
  src/components/MyProfile/ProfileList.jsx
  src/components/MyProfile/styled.jsx
  src/components/Navbar/styled.jsx
  src/components/Product/Product.jsx
  src/components/Product/styled.jsx
  src/components/TextPost/TextPost.jsx
  src/components/User/styled.jsx
  src/components/UserInfo/UserInfo.jsx
  src/components/UserInfo/styled.jsx
  src/pages/IntroLogin/IntroLoginPage.jsx
  src/pages/Login/LoginPage.jsx
  src/pages/MyProfile/MyProfilePage.jsx
  src/pages/MyProfile/styled.jsx
  src/pages/Profile/MainProfile.jsx
  src/pages/Profile/styled.jsx
  src/routes/Router.jsx
Labels: feat, style

#46 style: 캠페인 등록 페이지, 게시글 등록 페이지 구현
  src/pages/Campaign/Campaign.jsx
  src/pages/Campaign/styled.jsx
  src/pages/PostUpload/PostUpload.jsx
  src/pages/PostUpload/styled.jsx
Labels: style

#45 rename/페이지 연결, TopNavBar와 styled 파일 수정
  src/components/Navbar/TopNavbar.jsx
  src/components/Navbar/styled.jsx
  src/routes/Router.jsx
Labels: rename/remove

#48 Feat/ LoginPage 및 SignupPage Validation 작업
  src/pages/Login/LoginPage.jsx
  src/pages/Signup/SignupPage.jsx
Labels: feat

#52 Feature/ProfilesignUpPage 컴포넌트 기능 구현
  src/components/Button/Button.jsx
  src/components/Button/styled.jsx
  src/components/TextInput/TextInput.jsx
  src/components/TextInput/styled.jsx
  src/pages/ProfileSignup/ProfileSignupPage.jsx
  src/pages/ProfileSignup/styled.jsx
  src/styles/GlobalStyle.jsx
  src/styles/Theme.js
Labels: feat

#53 style/ TopBasicNav value 반응형 기능 수정 및 FollowPage 스타일
  src/components/Navbar/TopNavbar.jsx
  src/components/Navbar/styled.jsx
  src/pages/FollowPage/FollowPage.jsx
  src/pages/FollowPage/styled.jsx
  src/routes/Router.jsx
Labels: style

#55 Feat: fetch 사용하여 my Profile 정보 불러오기
  src/components/MyProfile/PostList.jsx
  src/components/MyProfile/ProfileInfo.jsx
  src/components/Product/Product.jsx
  src/pages/Login/LoginPage.jsx
Labels: feat

#57 Feature/유저정보전역관리
  src/components/MyProfile/PostList.jsx
  src/components/TabMenu/TabMenu.jsx
  src/context/ActionTypes.js
  src/context/Auth.jsx
  src/context/AuthReducer.js
  src/hooks/useAuthContext.jsx
  src/pages/HomeFeed/HomeFeedPage.jsx
  src/pages/Login/LoginPage.jsx
Labels: feat

#58 Feature/LikeCommentButton 기능구현
  src/assets/icon/icon-heart-on.svg
  src/components/AlbumPost/AlbumPost.jsx
  src/components/AlbumPost/styled.jsx
  src/components/Button/styled.jsx
  src/components/LikeCommentButton/LikeCommentButton.jsx
  src/components/LikeCommentButton/styled.jsx
  src/components/MyProfile/PostList.jsx
  src/components/MyProfile/ProfileInfo.jsx
  src/components/MyProfile/styled.jsx
  src/components/TextPost/TextPost.jsx
  src/components/TextPost/styled.jsx
  src/components/UserInfo/UserInfo.jsx
  src/pages/Follow/FollowersPage.jsx
  src/pages/MyProfile/MyProfilePage.jsx
  src/pages/ProfileSignup/ProfileSignupPage.jsx
  src/services/changeDate.js
  src/styles/Theme.js
Labels: feat, chore

#70 style: Splash 화면 애니메이션 추가
  src/pages/Splash/styled.jsx
Labels: style

#68 Feat/캠페인 등록 기능 구현
  src/components/MyProfile/ProfileInfo.jsx
  src/components/Navbar/TopNavbar.jsx
  src/components/Navbar/styled.jsx
  src/pages/Campaign/CampaignPage.jsx
  src/pages/Campaign/styled.jsx
Labels: feat, style, chore

#67 Feat/ Comment, Chat, Post, Modal, Style, Chore 작업
  src/components/Comment/CommentInput.jsx
  src/components/Comment/CommentList.jsx
  src/components/Comment/styled.jsx
  src/components/Modal/Modal.jsx
  src/components/Modal/styled.jsx
  src/components/Navbar/TopNavbar.jsx
  src/components/Navbar/styled.jsx
  src/components/TabMenu/TabMenu.jsx
  src/components/TabMenu/styled.jsx
  src/components/TextPost/styled.jsx
  src/components/UserInfo/styled.jsx
  src/components/UserPost/styled.jsx
  src/pages/Chat/ChatListPage.jsx
  src/pages/Chat/ChatRoomPage.jsx
  src/pages/Chat/styled.jsx
  src/pages/HomeFeed/styled.jsx
  src/pages/MyProfile/styled.jsx
  src/pages/Post/PostPage.jsx
  src/pages/Post/PostUploadPage.jsx
  src/pages/Post/styled.jsx
  src/pages/PostUpload/PostUploadPage.jsx
  src/routes/Router.jsx
  src/styles/GlobalStyle.jsx
Labels: feat, style, chore

#76 feat/ HomeFeed, Search, UserList, TopsearchNav
  src/components/Navbar/TopNavbar.jsx
  src/components/TabMenu/TabMenu.jsx
  src/components/TabMenu/styled.jsx
  src/components/UserList/UserList.jsx
  src/components/UserList/styled.jsx
  src/pages/HomeFeed/HomeFeedPage.jsx
  src/pages/HomeFeed/styled.jsx
  src/pages/Search/SearchPage.jsx
  src/pages/Search/styled.jsx
  src/routes/Router.jsx
Labels: feat, chore

#78 style: Useinfo margin삭제및User Postarticle로 수정
  src/components/UserInfo/styled.jsx
  src/components/UserPost/styled.jsx
Labels: style

#80 Rename/파일이름변경및삭제
  src/components/MyProfile/PostList.jsx
  src/components/MyProfile/ProfileInfo.jsx
  src/components/MyProfile/ProfileList.jsx
  src/components/MyProfile/styled.jsx
  src/components/Product/Product.jsx
  src/components/Product/styled.jsx
  src/pages/CampaignUpload/CampaignUploadPage.jsx
  src/pages/CampaignUpload/styled.jsx
  src/pages/MyProfile/MyProfilePage.jsx
  src/pages/MyProfile/styled.jsx
Labels: rename/remove

#82 Feat/ProfilePage컴포넌트생성및기능구현
  src/components/Profile/PostList.jsx
  src/components/Profile/ProfileInfo.jsx
  src/components/Profile/styled.jsx
  src/components/TabMenu/TabMenu.jsx
  src/pages/Post/PostPage.jsx
  src/pages/Profile/ProfilePage.jsx
  src/pages/Profile/styled.jsx
  src/routes/Router.jsx
Labels: feat

#86 Feat/ tabMenu의 HomeFeed 페이지 Active 스타일 수정
  src/components/TabMenu/TabMenu.jsx
  src/components/TabMenu/styled.jsx
  src/pages/HomeFeed/HomeFeedPage.jsx
  src/pages/HomeFeed/styled.jsx
Labels: fix, feat

#88 Style/HomeFeed 페이지 스타일링 재정렬
  src/components/Navbar/styled.jsx
  src/components/TabMenu/styled.jsx
  src/components/TextPost/TextPost.jsx
  src/components/TextPost/styled.jsx
  src/components/UserInfo/UserInfo.jsx
  src/components/UserInfo/styled.jsx
  src/pages/HomeFeed/HomeFeedPage.jsx
  src/pages/HomeFeed/styled.jsx
Labels: style

#91 Feat/PostUpload 기능 및 스타일 구현
  src/pages/Post/PostUploadPage.jsx
  src/pages/Post/styled.jsx
Labels: feat, style

#94 Fix/대체이미지오류해결
  src/assets/image/image-upload-fail.png
  src/components/AlbumPost/AlbumPost.jsx
  src/components/TextPost/TextPost.jsx
  src/components/UserInfo/UserInfo.jsx
Labels: fix

#96 Feat/FollowersPage컴포넌트생성 및 기능추가
  src/components/Profile/ProfileInfo.jsx
  src/pages/Follow/FollowItem.jsx
  src/pages/Follow/FollowersPage.jsx
  src/pages/Follow/styled.jsx
  src/routes/Router.jsx
Labels: feat

#98 Fix/페이지경로 및 스타일수정
  src/components/AlbumPost/styled.jsx
  src/components/CampaignCard/CampaignCard.jsx
  src/components/CampaignCard/styled.jsx
  src/components/LikeCommentButton/LikeCommentButton.jsx
  src/components/UserList/UserList.jsx
  src/pages/CampaignUpload/CampaignUploadPage.jsx
  src/pages/Post/PostPage.jsx
Labels: fix, chore

#99 Style/comment list 부분 댓글 정렬 수정
  src/components/Comment/CommentList.jsx
  src/components/Comment/styled.jsx
  src/components/Wrapper/StyledWrapper.jsx
Labels: style, chore

#101 Style/ Search 페이지 리스트 출력 수정 및 Navbar Input 수정
  src/components/Navbar/styled.jsx
  src/pages/Search/styled.jsx
Labels: style

#102 Feat/PostEdit 기능 구현
  src/components/TextPost/TextPost.jsx
  src/pages/Chat/styled.jsx
  src/pages/Post/PostEditPage.jsx
  src/pages/Post/styled.jsx
  src/routes/Router.jsx
Labels: feat, style
