Repository yesllyes/yesllyes, pull requests merged in 2023-01, with the labels that each got.

#105 style: Not Found Page 스타일링
  src/pages/NotFound/NotFoundPage.jsx
  src/pages/NotFound/styled.jsx
Labels: style

#106 style: Splash, IntoLoginPage 로고 수정
  src/pages/IntroLogin/IntroLoginPage.jsx
  src/pages/IntroLogin/styled.jsx
  src/pages/Splash/SplashPage.jsx
  src/pages/Splash/styled.jsx
Labels: style

#109 Fix/스타일수정 및 라우터, 경로 설정
  src/components/Comment/CommentList.jsx
  src/components/Profile/styled.jsx
  src/components/TextPost/TextPost.jsx
  src/components/TextPost/styled.jsx
  src/components/UserInfo/styled.jsx
  src/routes/Router.jsx
Labels: fix, style

#111 Feat/로그인유저에 따른 화면UI설정
  src/components/Profile/ProfileInfo.jsx
  src/pages/Follow/FollowItem.jsx
Labels: feat

#113 feat: 게시글/댓글 삭제, 신고 기능 구현
  src/components/Comment/CommentList.jsx
  src/components/TextPost/TextPost.jsx
Labels: feat

#115 Style/profile 페이지 스타일링
  src/components/Profile/CampaignList.jsx
  src/components/Profile/ProfileInfo.jsx
  src/components/Profile/styled.jsx
  src/components/UserInfo/UserInfo.jsx
  src/pages/Follow/FollowersPage.jsx
  src/pages/Follow/styled.jsx
  src/pages/Search/SearchPage.jsx
Labels: style

#116 chore: 파비콘 추가, 사이트 이름 수정
  public/favicon.ico
  public/index.html
Labels: chore

#119 feat/ 캠페인 수정 기능 구현
  src/components/CampaignCard/CampaignCard.jsx
  src/pages/CampaignUpload/CampaignEdit.jsx
  src/routes/Router.jsx
Labels: feat, chore

#122 feat/ 프로필 수정 기능 구현
  src/components/Profile/ProfileInfo.jsx
  src/pages/ProfileEdit/ProfileEdit.jsx
  src/pages/ProfileSignup/styled.jsx
  src/routes/Router.jsx
Labels: feat, style, chore

#124 chore: 오타 수정 및 파일 수정
  src/components/Profile/CampaignList.jsx
  src/pages/CampaignUpload/CampaignUploadPage.jsx
  src/pages/CampaignUpload/styled.jsx
Labels: style, chore

#125 Style/chat ChatList, ChatRoom 레이아웃 작업
  src/pages/Chat/ChatListPage.jsx
  src/pages/Chat/ChatRoomPage.jsx
  src/pages/Chat/styled.jsx
  src/pages/Follow/styled.jsx
  src/pages/HomeFeed/styled.jsx
Labels: style, chore

#126 Fix/CommentList 렌더링 시 key값 추가, 첫 렌더링 시 데이터 받는 갯수 변경
  src/components/Comment/CommentList.jsx
  src/components/Comment/styled.jsx
  src/components/Profile/CampaignList.jsx
  src/components/Profile/PostList.jsx
  src/pages/Follow/FollowersPage.jsx
  src/pages/HomeFeed/HomeFeedPage.jsx
Labels: fix

#128 Feat/Modal컴포넌트 생성 및 기능추가
  public/index.html
  src/components/Comment/CommentList.jsx
  src/components/Modal/Alert/LogoutAlert.jsx
  src/components/Modal/Alert/PostAlert.jsx
  src/components/Modal/Alert/styled.jsx
  src/components/Modal/Modal.jsx
  src/components/Modal/ModalButton.jsx
  src/components/Modal/ModalPortal.jsx
  src/components/Modal/ModalType/ChatRoomModal.jsx
  src/components/Modal/ModalType/CommentModal.jsx
  src/components/Modal/ModalType/PostModal.jsx
  src/components/Modal/ModalType/UserModal.jsx
  src/components/Modal/styled.jsx
  src/components/Navbar/TopNavbar.jsx
  src/components/TextPost/TextPost.jsx
  src/pages/Chat/ChatListPage.jsx
Labels: feat, style

#130 Feat/모달창추가기능및Comment, Campaign, ChatRoom 모달추가
  src/components/CampaignCard/CampaignCard.jsx
  src/components/CampaignCard/styled.jsx
  src/components/Modal/Alert/CampaignAlert.jsx
  src/components/Modal/Alert/CommentAlert.jsx
  src/components/Modal/Alert/PostAlert.jsx
  src/components/Modal/Modal.jsx
  src/components/Modal/ModalButton.jsx
  src/components/Modal/ModalType/CampaignModal.jsx
  src/components/Modal/ModalType/CommentModal.jsx
  src/components/Modal/ModalType/PostModal.jsx
  src/components/Navbar/TopNavbar.jsx
  src/pages/Chat/ChatRoomPage.jsx
Labels: feat

#131 Fix/CommentList컴포넌트추가된댓글과삭제된댓글새로고침오류해결
  src/components/Comment/CommentInput.jsx
  src/components/Comment/CommentList.jsx
  src/components/Comment/styled.jsx
  src/pages/Post/PostPage.jsx
Labels: fix, style

#133 Fix/기능오류 및 스타일수정
  src/components/AlbumPost/AlbumPost.jsx
  src/components/Profile/styled.jsx
  src/components/TextPost/TextPost.jsx
  src/components/Wrapper/StyledWrapper.jsx
  src/pages/Chat/styled.jsx
Labels: fix, refactor, style

#135 Fix/ProfileInfo컴포넌트followerscount오류수정
  src/components/Profile/ProfileInfo.jsx
  src/pages/Follow/FollowItem.jsx
Labels: fix

#137 feat: Netlify 배포 및 버그 수정
  .eslintrc.json
  public/_redirects
  src/pages/Search/SearchPage.jsx
Labels: feat

#136 doc: 배포 URI 추가 및 QR코드 추가
  README.md
Labels: docs
